@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Rubik+Vinyl&display=swap');

/* header/navbar atas */
body{
    animation: body ease 2.5s;
}
@keyframes body {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
header{
    margin-top: -1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #3CADA2;
}
header a{
    margin-left: 1rem;
    margin-top: 3px;
    
}
.bi-justify{color: white;}

#nav-content{
    margin: 0px;    
}
#nav-tittle{
    color: #fff;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 28px;
}

/* main */
#main{
    padding-top: 0;
    padding: 0px;
}
#tittle{
    padding: 0;
    font-size: 2rem;
}

/* button */
#btn-sewazoom{
    background-color: #3CADA2;
    border: none;
    width: 8rem;
    margin-top: 5px;
}
#btn-inventaris{
    background-color: #3CADA2;
    border: none;
    width: 7rem;
    margin-top: 5px;
}
#btn-aksesinternet{
    background-color: #3CADA2;
    border: none;
    width: 7rem;
    margin-top: 5px;
}
#btn-revisidata{
    background-color: #3CADA2;
    border: none;
    width: 8rem;
    margin-top: 5px;
}
#btn-aksesprogram{
    background-color: #3CADA2;
    border: none;
    width: 7rem;
    margin-top: 5px;
}
#btn-pengembalian{
    padding: 2px 5px;
    font-size: 12px;
}
#btn-sewazoom:hover{
    background-color: black;
}
#btn-inventaris:hover{
    background-color: black;
}
#btn-aksesinternet:hover{
    background-color: black;
}
#btn-revisidata:hover{
    background-color: black;
}
#btn-aksesprogram:hover{
    background-color: black;
}
#btn-detail{
    font-size: 10px;
    padding: 3px 15px;
}
.btn-primary{
    background-color: #3CADA2;
    border: none;
}


/* h2{
    width: 55%;
    margin-left: 4%;
    font-size: 1rem;
} */

/* modal */
#exampleModal h1{
    margin-top: .5rem;
}

/* table */
#table-head{
    margin: auto;
    width: 95%;
}
.container{
    margin-bottom: 1rem;
}
.table{
    width: 98%;
    margin: auto;
}

#tb-tittle{
    font-size: 1.5rem;
}
#tb-subtittle{
    font-size: 1rem;
}
th, td{
    font-size: 12px;

}

/* footer */

.footer{
    padding: 1.5rem;
}


@media screen and (max-width : 500px) {
    header{
        padding-bottom: 0px;
        padding: .5rem;
        text-align: center;
    }
    header a{
        margin-left: 0px;
    }
    /* .col-11, .col-1{
        margin-top: -10px;
    } */
    .col-1{
        margin-top: -5px;
    }
    #nav-tittle{
        font-size: 18px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #btn-sewazoom{
        width: 4.5rem;
        font-size: .5rem;
        padding: none;
    }
    #btn-inventaris{
        width: 3.5rem;
        padding: .2rem;
        font-size: 0.7rem; 
    }
    #btn-aksesprogram{
        width: 3.5rem;
        padding: .2rem;
        font-size: 0.7rem; 
    }
    #btn-aksesinternet{
        width: 3.5rem;
        padding: .2rem;
        font-size: 0.7rem; 
    }
    #btn-revisidata{
        width: 4rem;
        padding: .2rem;
        font-size: 0.6rem; 
    }
    #btn-detail{
        width: 3rem;
        padding: .2rem;
        font-size: 0.5rem; 
    }
    #btn-pengembalian{
        font-size: 10px;
    }
    th, td{
        font-size: 10px;
    }
    .btn-danger{
        font-size: 10px;
        padding: .2rem;
    }
    #tb-tittle{
        font-size: 1rem;
    }
    #tb-subtittle{
        font-size: 0.7rem;
    }
    #tittle{
        font-size: 1rem;
        margin-top: .3rem;
        margin-left: 0px;
    }
    .modal-content{margin: auto;}
}
@media screen and (min-width: 1024px) {
    .modal-content{width: 700px;}
    
}
