
header{
    margin-top: -1.5rem;
    width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    background-color: aquamarine;
}
header a{
    margin-left: 1rem;
    font-size: 2px;
    padding-right: 2rem;
}
#main{
    padding-top: 0;
    padding: 0px;
}
#tittle{
    margin-left: 1rem;
    padding: 0;
    font-size: 2rem;
}

#btn-sewazoom{
    background-color: #3CADA2;
    border: none;
    width: 10rem;
    margin-top: 5px;
}
#btn-inventaris{
    background-color: #3CADA2;
    margin-left: 78%;
    border: none;
    width: 10rem;
    margin-bottom: 1rem;
}
#btn-sewazoom:hover{
    background-color: black;
}
h2{
    width: 55%;
    margin-left: 4%;
    font-size: 1rem;
}

#exampleModal h1{
    margin-top: .5rem;
}
#table-head{
    margin: auto;
    width: 95%;
}
.container{
    margin-bottom: 1rem;
}
.table{
    margin-left: 1rem;
    width: 98%;
}
.btn-primary{
    background-color: #3CADA2;
    border: none;
}
#tb-tittle{
    font-size: 1.5rem;
}
#tb-subtittle{
    font-size: 1rem;
}


@media screen and (max-width : 500px) {
    header a{
        padding-right: 1rem;
    }
    #btn-sewazoom{
        width: 4rem;
        font-size: .4rem;
        padding: none;
    }
    #btn-inventaris{
        width: 6rem;
        margin-left: 70%;
        font-size: 0.5rem;
        
    }
    th, td{
        font-size: 10px;
    }
    .btn-danger{
        font-size: 10px;
        padding: .2rem;
    }
    #tb-tittle{
        font-size: 1rem;
    }
    #tb-subtittle{
        font-size: 0.7rem;
    }
    #tittle{
        font-size: 1.3rem;
        margin-top: .5rem;
    }
}
/* .home span{
    font-size: 1rem;
}
.home {
    margin-top: 1.5rem;
    margin-left: 1.3rem;

} */
