h1{
    color: black;
    margin-top: -30px;
}


.logo a{
    color: #3CADA2;
}
span{
    color: black;
}
i{
    color: #3CADA2;
}
.banner{
    margin-top: 30px;
}
#btn-sewazoom{
    background-color: #3CADA2;
    border: none;
    margin-left: 85%;
}
#btn-sewazoom:hover{
    background-color: black;
}