h1{
    color: black;

}


.logo a{
    color: #3CADA2;
}
span{
    color: black;
}
i{
    color: #3CADA2;
}
.banner{
    margin-top: 30px;
}
#btn-sewazoom{
    background-color: #3CADA2;
    border: none;
    margin-left: 85%;
}
#btn-sewazoom:hover{
    background-color: black;
}

#exampleModal h1{
    margin-top: .5rem;
}

.table{
    margin-left: 1rem;
    width: 98%;
}
.btn-primary{
    background-color: #3CADA2;
    border: none;
}
/* .home span{
    font-size: 1rem;
}
.home {
    margin-top: 1.5rem;
    margin-left: 1.3rem;

} */
